{% load i18n %}

<p style="padding-left: 10px;margin: 0px;">{% blocktrans with filter_title=title %}{{ filter_title }} {% endblocktrans %}</p>
<ul style="padding-top:1%;border-bottom:None;">
    <li>
        {% with choices.0 as all_choice %}
        <form method="GET" action="">
            {% for k, v in all_choice.query_parts %}
            <input type="hidden" name="{{ k }}" value="{{ v }}" />
            {% endfor %}
            <div>
            <div style="float: left;padding-left: 10px;">
            {% if spec.value %}
            <input  type="date"
                    value="{{ spec.value}}"
                    name="{{ spec.parameter_name }}"
                    style="border-radius: 5px;border: 1px solid #ccc;padding: 5px 5px;background-color: #ccca; max-width: 131px;"

                    />
            {% else %}
                    <input  type="date"
                    value="{{ all_choice.date }}"
                    name="{{ spec.parameter_name }}"
                    style="border-radius: 5px;border: 1px solid #ccc;padding: 5px 5px;background-color: #ccca;max-width: 131px;"
                    />
            {% endif %}
            </div>

            <div style="float: right;margin-right: 10px;">
                <input type="submit" value="{% trans 'Go' %}" style="border-radius: 3px !important;" >
            </div>


            </div>

        </form>
        {% endwith %}
    </li>
</ul>
<br>